<div class="detailView" ng-controller"detailController">
    <div class="profile">
        <div class="badge-wrapper">
            <ul class="honeycomb">
                <li>
                    <img src="./img/badge1.png" alt="">
                    <img src="./img/computer.png" alt="">
                </li>
                <li>
                    <img src="./img/badge2.png" alt="">
                    <img id="user-icon" src="./img/mizuki.png" alt="">
                    <img src="./img/work.png" alt="">
                </li>
                <li>
                    <img src="./img/mizuki.png" alt="">
                    <img src="./img/mizuki.png" alt="">
                </li>
            </ul>
        </div>

        <div class="detail-wrapper">
            hogehoge
        </div>
    </div>

    <div class="history-wrapper">
        <table>
            <tr>
                <th>日付</th>
                <th>Form</th>
                <th>To</th>
                <th>説明</th>
            </tr>
            <tr>
                <td>2016/10/29</td>
                <td>さかぐちたろう</td>
                <td>みずきそどこ</td>
                <td>100点</td>
            </tr>
            <tr>
                <td>2016/10/29</td>
                <td>さかぐちたろう</td>
                <td>みずきそどこ</td>
                <td>100点</td>
            </tr>
            <tr>
                <td>2016/10/29</td>
                <td>さかぐちたろう</td>
                <td>みずきそどこ</td>
                <td>100点</td>
            </tr>
        </table>
    </div>
</div>
