<div class="detailView" ng-controller"detailController">
    <div class="profile">
        <div class="badge-wrapper">
            <ul class="honeycomb">
                <li>
                    <img ng-click="onClickImg('computer')" src="./img/computer.png" alt="">
                    <img ng-click="onClickImg('academy')" src="./img/academy.png" alt="">
                </li>
                <li>
                    <img ng-click="onClickImg('club')" src="./img/club.png" alt="">
                    <img id="user-icon" src="./img/mizuki.png" alt="">
                    <img ng-click="onClickImg('work')" src="./img/work.png" alt="">
                </li>
                <li>
                    <img ng-click="onClickImg('research')" src="./img/research.png" alt="">
                    <img ng-click="onClickImg('other')" src="./img/other.png" alt="">
                </li>
            </ul>
        </div>

        <div class="detail-wrapper">
            <table class="info-table">
                <tr>
                    <th>ユーザー名</th>
                    <td>{{alias}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="history-wrapper">
        <table>
            <tr>
                <th>日付</th>
                <th>Form</th>
                <th>To</th>
                <th>説明</th>
            </tr>
            <tr ng-repeat="(key, values) in histories">
                <td>{{transTimeStamp(values.timestamp)}}</td>
                <td>{{values.from}}</td>
                <td>{{values.to}}</td>
                <td>{{values.description}}</td>
            </tr>
        </table>
    </div>
    <div class="badgelist-overlay" ng-click="closeOverlay()" ng-class="{'overlay-show':isOverlay}">
        <span class="closeButton glyphicon glyphicon-remove-sign"></span>
        <div class="badgelist-wrapper">
            <table class="badgelist-table">
                <tr>
                    <th>日付</th>
                    <th>カテゴリー</th>
                    <th>名前</th>
                    <th>From</th>
                    <th>説明</th>
                </tr>
                <tr ng-repeat="val in detailList" ng-click="onClickDetailList($index, $event)">
                    <td>{{transTimeStamp(val.timestamp)}}</td>
                    <td>{{val.category}}</td>
                    <td>{{val.name}}</td>
                    <td>{{val.from}}</td>
                    <td>{{val.description}}</td>
                </tr>
                
            </table>
        </div>
        <div class="badgedetail">
            <table class="badgedetail-table">
                <tr>
                    <th>日付</th>
                    <td>{{transTimeStamp(detailTime)}}</td>
                </tr>
                <tr>
                    <th>カテゴリ</th>
                    <td>{{detailCategory}}</td>
                </tr>
                <tr>
                    <th>名前</th>
                    <td>{{detailName}}</td>
                </tr>
                <tr>
                    <th>From</th>
                    <td>{{detailFrom}}</td>
                </tr>
                <tr>
                    <th>説明</th>
                    <td>{{detailDescription}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
